opencv-python~=4.5.1.48
numpy~=1.19.5
matplotlib~=3.3.3
tensorflow-gpu~=2.4.1

jsonpickle~=2.0.0
Flask~=1.1.2
Pillow~=8.1.2
setuptools~=54.1.1
marshmallow~=3.10.0
apispec~=4.3.0
PyYAML~=5.4.1
pixellib~=0.6.1
scipy~=1.6.1
scikit-image~=0.18.1
imantics~=0.1.12
imgaug~=0.4.0
imageio~=2.9.0
labelme2coco~=0.1.2
Keras~=2.4.3